= simple_form_for([:admin, @blog_series], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
  %legend= yield :form_title
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :blog_id, collection: Blog.all, value_method: :id
    = f.association :image, as: :image_picker
  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
    - unless @blog_series.new_record?
      = link_to "Delete Series", [:admin, @blog_series], method: :delete, confirm: "Are you sure?", class: 'btn btn-large btn-danger'
