.row
  .span8
    %h1 Page Layout
    %form#layout-data{data: {embedded: @embedded.to_json}}
      .onde-panel
  .span4
    = simple_form_for [:admin, @page], html: {id: 'page-settings'}, defaults: {input_html: {class: 'input-xlarge'}}, wrapper: :bootstrap do |f|
      %legend Page Settings
      .form-inputs
        = f.error_notification
        = f.input :title
        = f.input :path, label: "URL Path"
        = f.input :layout_template, collection: page_layout_options
        = f.input :layout_data, as: :hidden
        = f.input :description, as: :text, input_html: {rows: 3}
        = f.association :image, as: :image_picker
      .form-actions
        = f.button :submit, class: 'btn btn-large btn-primary'
