= simple_form_for(@gallery, url:"/galleries/#{@gallery.gid}", html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
  %legend= yield :form_title
  = f.error_notification
  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit, "Submit", class: 'btn btn-large btn-primary'

- content_for :scripts do
  = tinymce_assets
