%h1 New Event
= simple_form_for([:admin, @new_event], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
  %legend= yield :form_title
  = f.error_notification
  .form-inputs
    = f.input :title
    %div.select-filter
      Event Filter:
      = f.select :filter, options_for_select([['Sports', 'Sports'], ['Music/Fine Arts', 'Music/Fine Arts'], ['Academic', 'Academic']])
    = f.input :content, input_html: {rows: 5}
    = f.input :start_date
    = f.input :end_date

  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
