- provide :title, 'Edit Account'

.span-8
  .rounded
    .form-container
      = render 'beta/partials/flash', flash: flash
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %fieldset
          .form-inputs
            = f.input :first_name, required: true
            = f.input :last_name, required: true
            = f.input :email, required: true

            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p Currently waiting confirmation for: #{resource.unconfirmed_email}

            = f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", required: false
            = f.input :password_confirmation, required: false
            = f.input :current_password, hint: "we need your current password to confirm your changes", required: true

          .form-actions
            = f.button :submit, 'Update', class: 'button button-rounded button-primary'

      = link_to 'Back', :back

.span-4.last
  = render partial: 'beta/partials/advertisement', locals: {zone: :medium_rectangle}
