- provide :title, 'Sign up'

.span-8
  .rounded
    .form-container
      = render 'site/partials/flash', flash: flash
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        %fieldset
          .form-inputs
            = f.input :first_name , required: true
            = f.input :last_name , required: true
            = f.input :email, required: true
            = f.input :password, required: true
            = f.input :password_confirmation, required: true

          .form-actions
            = f.button :submit, "Sign up", class: 'button button-rounded button-primary'

      = render 'devise/shared/links'

.span-4.last
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
