= simple_form_for([:admin, @article], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
  %legend= yield :form_title
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :subtitle
    = f.input :section, as: :taxonomy, input_html: {class: 'input-medium'}
    = f.input :teaser, as: :text, input_html: {rows: 3, class: 'input-xxlarge'}
    = f.input :body, input_html: {rows: 5, class: 'input-xxlarge'}
  .form-actions
    = f.button :submit, class: "btn btn-large btn-primary"
