= simple_form_for([:admin, @article], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
  %legend= yield :form_title
  = f.error_notification
  .form-inputs
    = f.input :title, disabled: true
    = f.input :subtitle
    = f.input :section, as: :taxonomy, disabled: true, input_html: {class: 'input-medium'}
    = f.association :authors, as: :text_list, value_method: :name, input_html: {class: 'staff-picker', autocomplete: 'off'}
    = f.input :teaser, as: :text, disabled: true, input_html: {rows: 3, class: 'input-xxlarge'}
    = f.input :body, disabled: true, input_html: {rows: 5, class: 'input-xxlarge'}

    .control-group
      %label.control-label Image
      .controls
        - if @article.image
          = cropped_image_tag @article.image, :rectangle_378x

    = f.input :published_at, as: :boolean, label: 'Publish', disabled: true
  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
    - if not @article.new_record?
      = link_to "Delete Article", [:admin, @article], method: :delete, confirm: "Are you sure?", class: 'btn btn-large btn-danger'

- content_for :scripts do
  = tinymce_assets
