= simple_form_for([:admin, @article], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}, wrapper: :bootstrap) do |f|
  %legend= yield :form_title
  = f.error_notification
  .form-inputs
    = f.input :title, disabled: true
    = f.input :subtitle

    .control-group
      %label.control-label Section
      .controls
        = text_field_tag :section, @article.section.to_a.join(', '), disabled: true, class: 'input-xxlarge'

    = f.association :authors, as: :text_list, value_method: :name, input_html: {class: 'staff-picker', autocomplete: 'off'}
    = f.input :teaser, as: :text, disabled: true, input_html: {rows: 3, class: 'input-xxlarge'}
    = f.input :body, input_html: {rows: 5, class: 'input-xxlarge'}
    = f.input :embed_url, label: "Youtube URL"

    .control-group
      %label.control-label Image
      .controls
        - if @article.image
          = cropped_image_tag @article.image, :rectangle_378x

  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
