= render 'admin/partials/flash', flash: flash

%ul.nav.nav-tabs
  %li{class: ('active' if @taxonomy.root?)}= link_to "All", admin_articles_path
  - Taxonomy.main_sections.each do |section|
    %li{class: ('active' if @taxonomy == section)}= link_to section.name, section_path(section)
  %form.navbar-search.pull-right
    %input.search-query{type: 'date', name: 'date'}
    %input.btn{type: 'submit', value: 'Jump to date'}

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Creation Date
      %th Actions
  - @articles.each do |article|
    %tr{id: "article_#{article.id}"}
      %td= link_to article.title, site_article_url(article, subdomain: 'www')
      %td= article.created_at.strftime('%-m-%-d-%Y')
      %td
        = link_to "Edit", [:edit, :admin, article], class: 'btn btn-mini'
        - if !article.published
          = link_to "Publish", admin_articles_publish_path(id: article.id), method: :post, class: 'btn btn-mini btn-info'
        - else
          = link_to "Unpublish", "", class: 'btn btn-mini btn-info disabled'
        = link_to "Delete", [:admin, article], method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-mini btn-danger'

= will_paginate
