%ul.nav.nav-tabs
  %li{class: ('active' if @taxonomy.root?)}= link_to "All", admin_articles_path
  - Taxonomy.main_sections.each do |section|
    %li{class: ('active' if @taxonomy == section)}
      = link_to section.name, section_path(section)
  %form.navbar-search.pull-right
    %input.search-query{type: 'date', name: 'date'}
    %input.btn{type: 'submit', value: 'Jump to date'}

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Publication Date
      %th Actions
  - @articles.each do |article|
    %tr{id: "article_#{article.id}"}
      %td= link_to article.title, site_article_url(article, subdomain: 'www')
      - if article.published?
        %td= article.published_at.strftime('%-m-%-d-%Y')
      - else
        %td Not published
      %td
        = link_to "Edit", [:edit, :admin, article], class: 'btn btn-mini'
        = link_to "Delete", [:admin, article], method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-mini btn-danger'
        - if article.published_at.nil?
          = link_to "Publish", [:publish, :admin, article], method: :post, class: 'btn btn-mini btn-info'

= will_paginate
