= render 'admin/partials/flash', flash: flash
%table.table.table-striped
  - @articles.each do |article|
    %tr{id: "article_#{article.id}"}
      %td= link_to article.title, "TODO: article url"
      %td= link_to "Edit", [:edit, :admin, article]
      %td= link_to "Delete", [:admin, article], method: :delete,
  data: {confirm: "Are you sure?"}
= will_paginate
