%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Section
      %th Actions
  %tbody
    - @polls.each do |poll|
      %tr{id: "poll_#{poll.id}"}
        %td= link_to poll.title, site_poll_url(poll, subdomain: 'www')
        %td= poll.section
        %td= link_to 'Edit', [:edit, :admin, poll], class: 'btn btn-mini'

= will_paginate
