.article-box
  %h2.vertical-label= title
  .rounded
    .top.clearfix
      %a.hover.highlight-left{href: site_post_path(articles.first)}
        .content-container
          - if articles.first.image
            = cropped_image_tag articles.first.image, :rectangle_183x
          %h4.title= articles.first.title
          %p.subtitle
            %span.author= byline(articles.first)
            = display_date(articles.first)
          %p.teaser= articles.first.teaser
    .bottom.clearfix
      .span-3.left-column.content-container
        %a.hover.highlight-left{href: site_post_path(articles[1])}
          %h4.title= articles[1].title
          %p.subtitle
            %span.author= byline(articles[1])
            = display_date(articles[1])
          %p.teaser= articles[1].teaser
        %a.hover.highlight-left{href: site_post_path(articles[2])}
          %h4.title= articles[2].title
          %p.subtitle
            %span.author= byline(articles[2])
            = display_date(articles[2])
          %p.teaser= articles[2].teaser
      .span-3.last.right-column.content-container
        %ul.articles
          - articles.drop(3).each do |article|
            %li
              %a.hover.highlight-right{href: site_post_path(article)}
                %h4.title= article.title
