.multiplexer.author-box
  %h2.vertical-label= title

  .rounded.selectors
    .content-container
      - authors.each do |author|
        %a.hover.highlight-left{href: site_staff_path(author)}
          %h2.label= author.name

  .rounded.selections
    - authors.each do |author|
      .selection
        .content-container.author-listing
          .author-info
            - if author.headshot
              = cropped_image_tag author.headshot, :rectangle_152x, class: 'headshot'
            %a.hover.name{href: site_staff_path(author)}
              %h3= author.name
            %p.subtitle
              %span.affiliation= author.affiliation
              - if author.twitter.present?
                %span.twitter= link_to "@#{author.twitter}", "http://twitter.com/#{author.twitter}"
            %p.tagline= author.tagline

          .article-list
            - recent_articles_by_author(author).each do |article|
              %a.hover.list-story.highlight-right{href: site_post_path(article)}
                %h3.title= article.title
                %p.subtitle= display_date(article)
                %p.teaser= article.teaser
