.author-box
  %h2.vertical-label= title

  .rounded.author-list
    .content-container
      - authors.each_with_index do |author, i|
        %a.hover.highlight-left{href: site_staff_path(author)}
          %h2.name= author.name

  .rounded.authors
    - authors.each do |author|
      .author
        .content-container.author-listing
          .author-info
            - if author.headshot
              = image_tag author.headshot.original.url(:thumb_rect), class: :headshot
            %a.hover.name{href: site_staff_path(author)}
              %h3= author.name
            %p.subtitle
              %span.affiliation= author.affiliation
              - if author.twitter.present?
                %span.twitter= link_to "@#{author.twitter}", "http://twitter.com/#{author.twitter}"
            %p.tagline= author.tagline

          .article-list
            - author.articles.limit(10).order('created_at DESC').each do |article|
              %a.hover.list-story.highlight-right{href: site_article_path(article)}
                %h3.title= article.title
                %p.subtitle= display_date(article)
                %p.teaser= article.teaser
