- title ||= nil
.columns
  %h2.vertical-label= title
  .rounded.clearfix
    .span-3.article-list.content-container
      - articles.each_with_index do |article, i|
        - if i.even?
          %a.hover.list-story.highlight-left{href: site_post_path(article)}
            .subtitle
              %span= article.section.name
            %h3.title= article.title
            .subtitle
              %span By #{byline(article)}
            - if article.authors.first.headshot
              = cropped_image_tag article.authors.first.headshot, :square_70x, class: 'headshot'
            %p.teaser= article.teaser

    .span-3.article-list.content-container.last
      - articles.each_with_index do |article, i|
        - if i.odd?
          %a.hover.list-story.highlight-right{href: site_post_path(article)}
            .subtitle
              %span= article.section.name
            %h3.title= article.title
            .subtitle
              %span By #{byline(article)}
            - if article.authors.first.headshot
              = cropped_image_tag article.authors.first.headshot, :square_70x, class: 'headshot'
            %p.teaser= article.teaser
