.search-facet
  %h2.vertical-label= title
  .rounded
    .content-container
      - hits.each do |hit|
        %a.hover.right{href: params.merge("article_search[#{param}]" => hit[:lookup])}
          %h4
            = "#{hit[:value]} (#{hit[:count]})"

