%h2.vertical-label= title
.rounded
  .topic-container{data: {id: topic.id}}
    %h2= topic.title
    %p= topic.description

    .responses

    = form_for([:api, topic, topic.responses.build],
      url: api_topic_responses_url(topic, subdomain: :api),
      subremote: true) do |f|
      = f.text_field :content, placeholder: 'Submit a response...'
      = f.submit 'Submit'
