%hr
%footer#footer
  .legal
    %span.copyright Copyright &copy; #{Date.today.year} Duke Student Publishing Company. All rights reserved.
    %span.sep= '|'
    = link_to "User Guidelines", "/pages/user-guidelines"
    %span.sep= '|'
    = link_to "Privacy Policy", "/pages/privacy-policy"

  .links
    = link_to "About Us", "/pages/about-us"
    = link_to "Advertising", "/pages/advertising"
    = link_to "Alumni", "http://dukechroniclealumni.com/"
    = link_to "Classifieds", "http://dukechronicle.campusave.com/"
    = link_to "Contact", "/pages/contact"
    = link_to "Daily Newsletter", "/newsletter"
    = link_to "Editorial Board", "/pages/editorial-board"
    = link_to "Housing Guide", "http://www.nearduke.com/housing"
    = link_to "Join Us", "/pages/join"
    = link_to "Letters to the Editor", "/pages/letters"
    = link_to "Print Edition", "http://issuu.com/dukechronicle/docs"
    = link_to "Print Subscription", "/pages/subscribe"
