- except ||= []

.share-box
  .comment-link
    %i.icons-comment
    = link_to "Comments", "#disqus_thread", 'data-disqus-identifier' => disqus_identifier(postable)

  - if not except.include? :print
    .print-link
      %i.icons-print
      = link_to "Print", print_site_article_path(postable)

  - if not except.include? :email
    .email-link
      %i.icons-email
      = link_to "Email", mailto_article(postable)

  %div= facebook_recommend(permanent_post_url(postable))
  %div= twitter_share(permanent_post_url(postable))
  %div= coinbase_tip(permanent_post_url(postable))
  %div= google_plusone(permanent_post_url(postable))
