%btn.pull-left= link_to "All Topics", site_topics_path, class: 'btn'
%br
%h3= @topic.title
%h5= @topic.description

= link_to 'All Responses', admin_topic_path(@topic, option: 1), class: 'btn'
= link_to 'All Reported', admin_topic_path(@topic, option: 2), class: 'btn'
= link_to 'All Approved', admin_topic_path(@topic, option: 3), class: 'btn'

= will_paginate @responses

- @responses.each do |r|
	- unless r.content.nil?
		%h6= r.content + ' | ' + r.created_at.strftime("%H:%M:%S %m/%d") + ' | up:' + r.upvotes.to_s + ' | down:' + r.downvotes.to_s
		= link_to approve_toggle(r.approved), approve_admin_topic_response_path(@topic, r), method: :approve, class: 'btn btn-mini'
		= link_to report_toggle(r.reported), report_admin_topic_response_path(@topic, r), method: :report, class: 'btn btn-mini'
		= link_to "Delete", admin_topic_response_path(@topic, r.id), method: :delete, class: 'btn btn-mini'

%h3= 'Add Response (Approved by default)'
= simple_form_for([:admin, @topic, @topic.responses.build], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
	%legend= yield :form_title
	= f.error_notification
	.form-inputs
		= f.input :content, as: :string
	.form-actions
		= f.button :submit, class: 'btn btn-medium btn-primary'
