.coachk
  .span-8
    .rounded
      .note
        .logo
          =image_tag @model.image_url
        .content-container!= @model.note

    #featured= render partial: 'beta/containers/featured-selectable', locals: {posts: @model.featured_stories}
    = render partial: 'beta/containers/article-list', locals: {articles: @model.stories, title: "Recent", style: :teaser}
    .clearfix
      .span-4
        .rounded
          %a{href: "https://twitter.com/#{@model.twitter}"}
            .image-container
              = image_tag 'social-media/twitter.png'
      .span-4.last
        .rounded
          %a{href: "https://www.facebook.com/#{@model.facebook}"}
            .image-container
              = image_tag 'social-media/facebook.png'

  .span-4.last
    .wins-box
      %h2.vertical-label Wins
      .rounded
        .content-container
          .clearfix
            %h1.wins= @model.count_up
            %h2.wins Wins
    = render partial: 'beta/partials/advertisement', locals: {zone: :medium_rectangle}
    = render partial: 'beta/containers/sports-standings', locals: {url: @model.standings_url}
    - @model.twitter_widgets.each do |widget_id|
      = render partial: 'beta/partials/twitter-timeline', locals: {widget_id: widget_id}
