- content_for :title_block do
  = render 'beta/partials/navigation', nav_links: @model.nav_links

- cache do
  .clearfix.align-group
    .span-8.align-element{data: {alignprimary: "true"}}
      .rounded
        .content-container
          %a{href: '/pages/coachk1k'}
            %h3 Coach K 1K
            %p
              As Duke head coach Mike Krzyzewski approaches the 1,000-win milestone,
              The Chronicle—one of the leaders in Duke basketball coverage since
              its inception—will compile special content to commemorate
              this historic achievement
      #slideshow= render partial: 'beta/partials/slideshow', locals: {articles: @model.slideshow['articles'], pages: @model.slideshow['pages'], pages_first: true}
      #multimedia= render partial: 'beta/containers/multimedia-row', locals: {title: 'Multimedia', multimedia: @model.multimedia}
      -# HAX: this really only looks nice if the number of choices in the poll is < 5
      - @model.bottom_articles[0...4].each_with_index do |article, i|
        .span-4{class: (i % 2 == 1 ? 'last' : nil)}= render partial: 'beta/containers/block/thumbnail', locals: {article: article}

    .span-4.last.align-element{data: {aligntarget: '#blog .rounded'}}
      = render partial: 'beta/partials/advertisement', locals: {zone: :medium_rectangle}
      - if @model.poll
        = render partial: 'beta/containers/poll', locals: {poll: @model.poll}
      = render partial: 'beta/partials/twitter-timeline', locals: {widget_id: @model.twitter_widget}

  - if @model.bottom_articles.length > 4
    .clearfix
      - @model.bottom_articles[4..-1].each_with_index do |article, i|
        .span-4{class: (i % 3 == 2 ? 'last' : nil)}= render partial: 'beta/containers/block/thumbnail', locals: {article: article}
