- content_for :title_block do
  = render 'beta/partials/navigation'

- @leaderboard_id = :towerview_leaderboard

- cache do
  .clearfix.align-group
    .span-8.align-element{data: {alignprimary: "true"}}
      - if @model.banner
        - if @model.banner['page']
          = render partial: 'beta/containers/article-list/page', locals: {page: @model.banner['page']}
        - elsif @model.banner['article']
          = render partial: 'beta/containers/article-list/single', locals: {article: @model.banner['article'], breaking: false}
      #featured= render partial: 'beta/partials/slideshow', locals: {articles: @model.featured, pages: [], pages_first: true}
      #multimedia= render partial: 'beta/containers/multimedia-row', locals: {title: "Shutter", multimedia: @model.multimedia}

    .span-4.last.align-element{data: {aligntarget: "#inquisitor .rounded"}}
      = render partial: 'beta/partials/advertisement', locals: {zone: :medium_rectangle}
      #editors-note= render partial: 'beta/containers/block/wide', locals: {title: "Letter from the Editor", article: @model.editors_note}
      #issuu.rounded
        .image-container!=@model.issuu

  #bus-stop= render partial: 'beta/containers/article-row', locals: {title: "Features", articles: @model.bus_stop, feature: true, all_feature: true}
  #plaza= render partial: 'beta/containers/article-row', locals: {title: "Ten People to Watch", articles: @model.plaza, feature: true}
