.clearfix.align-group
  .span-8.align-element{data: {alignprimary: "true"}}
    = render partial: 'beta/partials/slideshow', locals: {articles: @model.slideshow, pages: [], pages_first: true}
  .span-4.last.align-element{data: {aligntarget: ".rounded"}}
    .title-medium= render partial: 'beta/containers/article-list', locals: {title: @model.list_title, articles: @model.top_articles, style: :featured}
.clearfix
  .span-4
    = render partial: 'beta/partials/video', locals: {video: @model.video_1 }
  .span-4
    = render partial: 'beta/partials/video', locals: {video: @model.video_2 }
  .span-4.last
    = render partial: 'beta/partials/video', locals: {video: @model.video_3 }
.clearfix
  - (@model.bottom_articles || []).each_with_index do |article, i|
    .span-4{class: (i % 3 == 2 ? 'last' : nil)}= render partial: 'beta/containers/block/square', locals: {article: article}
