- provide :title, @article.title

%h1#mast The Chronicle
%article#article
  %h1.title= @article.title
  - if not @article.subtitle.blank?
    %h2.subtitle= @article.subtitle

  %p.byline
    %span.author By #{byline(@article)}
    %span.sep= "|"
    %span.date= @article.published_at.strftime("%B %e, %Y")

  != @article.render_body
