- provide :title, @article.title
- provide(:title, @description) unless content_for? :description

- content_for :head do
  - if @article.block_bots
    %meta{name: 'robots', content: 'noindex'}
  %link{rel: "canonical", href: site_article_url(@article, subdomain: :www)}


%h1#mast The Chronicle
%article#article
  %h1.title= @article.title
  - if not @article.subtitle.blank?
    %h2.subtitle= @article.subtitle

  %p.byline
    %span.author By #{byline(@article)}
    %span.sep= "|"
    %span.date= @article.published_at.strftime("%B %e, %Y")

  != @article.render_body
