- if params[:article_search][:query].present?
  - provide :title, "Search: #{params[:article_search][:query]}"

  - content_for :title_block do
    %h1
      = "Results for "
      %b= params[:article_search][:query]
      - if params[:article_search][:section].present?
        = "in "
        %b= params[:article_search][:section].titlecase
- else
  - provide :title, "Search"
  - content_for :title_block do
    %h1
      = "Search the Archives"
  - error = "Please provide a query"


.span-8
  - if @articles.blank?
    .error
      %h3= error || "No results found"
  - else
    - @articles.each do |article|
      .rounded
        %a.hover{href: site_article_path(article)}
          .content-container
            %h3= article.title
            .subtitle
              %span.date= article.created_at.strftime("%B %e, %Y")
              %span.author= byline(article)
            %p= article.teaser
    = will_paginate @articles

.span-4.last
  = render partial: 'site/partials/search', locals: {article_search: @article_search}
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
