- if params[:article_search][:query].present?
  - provide :title, "Search: #{params[:article_search][:query]}"

  - content_for :title_block do
    %h1
      = "Results for "
      %b= params[:article_search][:query]
      - if params[:article_search][:section].present?
        = "in "
        %b= params[:article_search][:section].titlecase
- else
  - provide :title, "Search"
  - content_for :title_block do
    %h1
      = "Search the Archives"
  - error = "Please provide a query"


.span-8
  - if @articles.blank?
    .rounded
      .article-container
        .error
          %h3= error || "No results found"
  - else
    - @articles.each do |article|
      .rounded
        %a.hover{href: site_article_path(article)}
          .content-container
            %h3= article.title
            .subtitle
              %span.date= article.created_at.strftime("%B %e, %Y")
              %span.author= byline(article)
            %p= article.teaser
    = will_paginate @articles

.span-4.last
  %h2.vertical-label Search
  .rounded
    .content-container
      = simple_form_for(@article_search, url: site_search_path, method: :get) do |f|
        %legend Refine your search
        = f.search_field :query, results: '5'
        = f.input :sort, collection: [['Relevance', :score], ['Newest', :created_at]], default: 1, label: "Order by"
        = f.input :section, collection: search_options(@article_search.sections)
        = f.input :author, collection: search_options(@article_search.authors)
        = f.submit "Search"
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
