- if params[:article_search][:query].present?
  - provide :title, "Search: #{params[:article_search][:query]}"

  - content_for :title_block do
    %h1
      = "Results for "
      %b= params[:article_search][:query]
      - if params[:article_search][:section].present?
        = "in "
        %b= params[:article_search][:section].titlecase
- else
  - provide :title, "Search"
  - content_for :title_block do
    %h1
      = "Search the Archives"
  - error = "Please provide a query"


.span-8
  - if @articles.blank?
    .rounded
      .article-container
        %h3= error || "No results found"
  - else
    - @articles.each do |article|
      .rounded
        %a.hover{href: site_article_path(article)}
          .content-container
            %h3= article.title
            .subtitle
              %span.date= article.created_at.strftime("%B %e, %Y")
              %span.author= byline(article)
            %p= article.teaser
    = will_paginate @articles

.span-4.last
  - unless @article_search.blank? || @articles.blank?
    = render partial: 'site/containers/search',
      locals: {title: "By Author", hits: @article_search.authors, param: 'author' }
    = render partial: 'site/containers/search',
      locals: {title: "By Section", hits: @article_search.sections, param: 'section' }
    = render partial: 'site/containers/search',
      locals: {title: "By Year", hits: @article_search.years, param: 'date' }
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
