- provide :title, @article.title

%article#article
  .span-8
    .rounded
      .article-container
        %h1.title= @article.title
        - if not @article.subtitle.blank?
          %h2.subtitle= @article.subtitle

        - if @article.image
          = image_tag @article.image.original.url(:large_rect), class: 'main-image'
          .clearfix
            - if @article.image.photographer
              .photo-credit
                = link_to @article.image.photographer.name, 'hi there'
                %span / The Chronicle
            - if not @article.image.caption.blank?
              %p.photo-caption= @article.image.caption

        %p.byline
          %span.author By #{byline(@article, include_links: true)}
          %span.sep= "|"
          %span.date= @article.created_at.strftime("%B %e, %Y")

        .article-body
          #social-media
            %div= link_to "Comments", "#disqus_thread", class: "comment-link"
            %div= link_to "Print", print_site_article_path(@article), class: "print-link"
            %div
              .fb-like{data: {href: @site_article_url, send: "false", layout: "button_count", width: "130", 'show-faces' => "false", font: "lucida grande", action: "recommend"}}
            %div
              %a.twitter-share-button{href: "https://twitter.com/share", data: {via: "dukechronicle"}} Tweet
            %div
              .g-plusone{data: {size: "medium", annotation: "bubble"}}

          != @article.render_body

    #disqus_thread.rounded

  .span-4.last
    = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
