- provide :title, @article.title

%article#article
  .span-8
    .rounded
      .article-container
        %h1.title= @article.title
        - if not @article.subtitle.blank?
          %p.subtitle= @article.subtitle

        %p.byline
          %span.author By &nbsp;

        .article-body
          #social-media
            = link_to "Comments", "#disqus_thread", class: "comment-link"
            = link_to "Print", "TODO: link this", class: "print-link"
            .fb-like{data: {href: @site_article_url, send: "false", layout: "button_count", width: "130", 'show-faces' => "false", font: "lucida grande", action: "recommend"}}
            %a.twitter-share-button{href: "https://twitter.com/share", data: {via: "dukechronicle"}} Tweet
            .g-plusone{data: {size: "medium", annotation: "none"}}

          != @article.render_body

    #disqus_thread.rounded
