- provide :title, @article.title
- provide :description, @article.teaser

- content_for :title_block do
  %h1
    - @article.section.parents.each_with_index do |parent, i|
      - if i > 0
        &raquo;
      = link_to parent.name, section_path(parent)

- content_for :head do
  - cache(action_suffix: :head) do
    - if @article.published?
      - article = Article.includes(:authors, :slugs, image: :photographer).find(@article)
      = render partial: 'site/partials/twitter_cards/article', locals: {article: article}
      = render partial: 'site/partials/open-graph/article', locals: {article: article}
    - if @article.block_bots
      %meta{name: 'robots', content: 'noindex'}
    %link{rel: "canonical", href: site_article_url(@article, subdomain: :www, protocol: 'http')}

- content_for :scripts do
  %script{src: '//www.readrboard.com/static/engage.js', defer: true}

- unless @article.published?
  = render 'site/partials/admin-notification'

- cache do
  - @article = Article.includes(:authors, :slugs, image: :photographer).find(@article)
  .span-8
    .rounded
      %article.article-container
        %h1.title= @article.title
        - if not @article.subtitle.blank?
          %h2.subtitle= @article.subtitle

        - if @article.image
          = render partial: 'partials/main-image', locals: {image: @article.image}

        %p.byline
          %span.author By #{byline(@article, link: true)}
          %span.sep= "|"
          = display_date(@article)

        .article-body
          = render partial: 'site/partials/share-box', locals: {postable: @article}
          != @article.render_body

    #recommended= render partial: 'site/containers/article-row', locals: {title: 'Recommended', articles: @article.related(4), feature: false, style: :title}
    #disqus_thread.rounded{data: {disqus: disqus_options(@article)}}

  %aside.span-4.last
    = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
    = render 'site/partials/facebook-recommended'
    = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle, suffix: 1}
    = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle, suffix: 2}

  = render 'site/partials/facebook-social-share'
