- provide :title, @article.title

- content_for :title_block do
  %h1
    - @article.section.parents.each_with_index do |parent, i|
      - if i > 0
        &raquo;
      = link_to parent.name, section_path(parent)

- content_for :administrative_links do
  = link_to "Edit this article", edit_admin_article_url(@article, subdomain: :admin)

- content_for :head do
  = render partial: 'site/partials/twitter_cards/article', locals: {article: @article}

- content_for :head do
  = render partial: 'site/partials/open-graph/article', locals: {article: @article}

- content_for :head do
  %link{rel: "canonical", href: site_article_url(@article, subdomain: :www)}

.span-8
  .rounded
    %article.article-container
      %h1.title= @article.title
      - if not @article.subtitle.blank?
        %h2.subtitle= @article.subtitle

      - if @article.image
        = render partial: 'partials/main-image', locals: {image: @article.image}

      %p.byline
        %span.author By #{byline(@article, link: true)}
        %span.date= display_date(@article)

      .article-body
        = render partial: 'site/partials/share-box', locals: {postable: @article}
        != @article.render_body

  #disqus_thread.rounded{data: {disqus: disqus_options(@article)}}

%aside.span-4.last
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
  .title-small= render partial: 'site/containers/article-list', locals: {title: 'Related', articles: @article.related(5), style: :subhead}
  = render 'site/partials/facebook-recommended'
  = render partial: 'site/partials/video-player', locals: {width: 300}

= render 'site/partials/facebook-social-share'
