- provide :title, @blog.name

- provide :title_block do
  %h2
    = link_to "Home", mobile_root_path
    &raquo;
    = link_to "Blogs", mobile_blogs_path
    &raquo;
    = link_to @blog.name, mobile_blog_posts_path(@blog)

%ul{data: {role: "listview", inset: "true"}}
  - @blog_posts.each do |blog_post|
    %li
      %a{href: mobile_blog_post_path(@blog, blog_post)}
        - if blog_post.image
          = image_tag blog_post.image.original.url(:square_80x)
        %h2= blog_post.title
        %p #{byline(blog_post)} | #{blog_post.published_at.strftime("%B %e, %Y")}
