!!! XML
%rss{version: '2.0'}
  %channel
    %title The Chronicle #{"| " + @taxonomy.to_a.join(', ') unless @taxonomy.root?}
    %link= site_root_url(subdomain: 'www')
    %description The Independent Daily at Duke University
    %language en-us
    %copyright Copyright 2012 Duke Student Publishing Company. All rights reserved.
    %image
      %url= image_path('logo/300x300.png')
      %title The Chronicle
      %link= site_root_url(subdomain: 'www')

    - @articles.each do |article|
      %item
        %title= article.title
        %link= site_article_url(article, subdomain: 'www')
        %description= article.render_body
        %author= byline(article)
        %pubDate= article.created_at.strftime('%a, %d %B %H:%M:%S %Z')
        %comments= site_article_url(article, subdomain: 'www') + '#disqus_thread'
        - if article.image
          %enclosure{url: article.image.original.url(:large_rect),
                     length: article.image.original_file_size,
                     type: article.image.original_content_type}
