- provide :title, 'Sign in'

.rounded.clearfix.align-group
  .span-6.align-element{data: {aligntarget: 'fieldset'}}
    .form-container
      = render 'beta/partials/flash', flash: flash
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %fieldset
          .form-inputs
            = f.input :email, required: false, autofocus: true
            = f.input :password, required: false
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

          .form-actions
            = f.button :submit, "Sign in", class: 'button button-rounded button-primary'

          = render 'devise/shared/links'

  .span-6.last.align-element{data: {aligntarget: 'fieldset'}}
    .form-container
      %fieldset
        = link_to '', omniauth_authorize_path(resource_name, :facebook), class: 'facebook-login'
        = link_to '', omniauth_authorize_path(resource_name, :google_oauth2), class: 'google-login'
