- provide :title, @blog_post.title

- content_for :title_block do
  %h1= link_to @blog.name, site_blog_posts_path(@blog)

%article#article
  .span-8
    .rounded
      .article-container
        %h3= @blog.name
        %h1.title= @blog_post.title

        %p.byline
          %span.author
            By
            = link_to @blog_post.author.name, site_staff_path(@blog_post.author)
          %span.sep= "|"
          %span.date= display_date(@blog_post)

        - if @blog_post.image
          = render partial: 'partials/main-image', locals: {image: @blog_post.image}

        .article-body
          #social-media
            %div
              .fb-like{data: {href: permanent_blog_post_url(@blog_post), send: "false", layout: "button_count", width: "130", 'show-faces' => "false", font: "lucida grande", action: "recommend"}}
            %div
              %a.twitter-share-button{href: "https://twitter.com/share", data: {via: "dukechronicle", url: permanent_blog_post_url(@blog_post)}} Tweet
            %div
              .g-plusone{data: {size: "medium", annotation: "bubble", href: permanent_blog_post_url(@blog_post)}}

          != @blog_post.render_body

  .span-4.last
    = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
