%h2= t 'devise.invitations.edit.header'

= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :put} do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-large btn-primary'
