.two-column-article-list
  %h2.vertical-label= title
  .rounded.clearfix
    .top
      .span-4.content-container
        - articles['left'].each do |article|
          %a.hover.highlight-left.teaser{href: site_post_path(article)}
            %h4= article.title
            = render partial: 'beta/articles/subtitle', locals: {article: article}
            %p= article.teaser

      .span-4.content-container.last
        - articles['right'].each do |article|
          %a.hover.highlight-right.teaser{href: site_post_path(article)}
            %h4= article.title
            = render partial: 'beta/articles/subtitle', locals: {article: article}
            %p= article.teaser
