.navbar
  .navbar-inner
    .container
      = link_to "The Chronicle", admin_root_path, :class => "brand"
      - if current_user.try(:admin?)
        %ul.nav
          %li= link_to "Articles", admin_articles_path

          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"} Blogs
            %ul.dropdown-menu{role: "menu", 'aria-labelledby' => "dLabel"}
              - Blog.each do |blog|
                %li= link_to blog.name, admin_blog_posts_path(blog)

          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"} Images
            %ul.dropdown-menu{role: "menu", 'aria-labelledby' => "dLabel"}
              %li= link_to "Manage", admin_images_path
              %li= link_to "Upload", upload_admin_images_path

          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"} Pages
            %ul.dropdown-menu{role: "menu", 'aria-labelledby' => "dLabel"}
              %li= link_to "Manage", admin_pages_path
              %li= link_to "Create", new_admin_page_path

          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"} Staff
            %ul.dropdown-menu{role: "menu", 'aria-labelledby' => "dLabel"}
              %li= link_to "Search", admin_staff_index_path
              %li= link_to "Create", new_admin_staff_path

          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"} Blog Series
            %ul.dropdown-menu{role: "menu", 'aria-labelledby' => "dLabel"}
              %li= link_to "Manage", admin_blog_series_index_path
              %li= link_to "Create", new_admin_blog_series_path

          %li= link_to "Newsletter", admin_newsletter_path
          %li= link_to "Embed Tags", admin_widgets_path
          %li= link_to "Configuration", admin_configuration_path

        %ul.nav.pull-right
          %li= link_to "Logout", destroy_user_session_url(subdomain: 'www'), method: :delete
