- provide :title, @staff.name

- content_for :administrative_links do
  = link_to "Edit staff profile", edit_admin_staff_url(@staff, subdomain: :admin)

- content_for :head do
  = render partial: 'site/partials/open-graph/staff', locals: {staff: @staff}

- content_for :title_block do
  %h1= @staff.name

.span-7
  - @articles.each do |article|
    .rounded
      %a.hover{href: site_article_path(article)}
        .content-container
          %h3= article.title
          = render partial: 'site/articles/subtitle', locals: {article: article, notime: true}
          %p= article.teaser

  = will_paginate @articles

.span-5.last= render partial: 'site/containers/staff-profile', locals: {staff: @staff, except: :articles}
