%h1
  %a{href: site_post_url(@article, subdomain: 'www')}= @article.title

%p.byline
  %span.author By #{@article.authors.map(&:name).join(', ')}
  %span.sep= "|"
  %span.date= @article.published_at.strftime("%B %e, %Y")

- if @article.image
  %img{src: 'https:' + @article.image.original.url(:rectangle_314x), width: 314, height: 194, alt: "Chronicle Image", style: 'display:block;'}

%p= @article.teaser

%p
  %a{href: site_post_url(@article, subdomain: 'www')}
    Visit #{ENV['DOMAIN']} for the full article.
