%hr
%footer#footer
  .legal
    %span.copyright Copyright &copy; 2012 Duke Student Publishing Company. All rights reserved.
    %span.sep= '|'
    = link_to "User Guidelines", "/page/user-guidelines"
    %span.sep= '|'
    = link_to "Privacy Policy", "/page/privacy-policy"

  .links
    = link_to "Daily Newsletter", "/page/newsletter"
    = link_to "Print Subscription", "/page/subscribe"
    = link_to "Classifieds", "http://dukechronicle.campusave.com/"
    = link_to "Housing Guide", "http://chroniclehousing.com/"
    = link_to "Alumni", "http://dukechroniclealumni.com/"
    = link_to "About Us", "/page/about-us"
    = link_to "Advertising", "/page/advertising"
    = link_to "Contact", "/page/contact"
    = link_to "Editorial Board", "/page/edit-board"
    = link_to "Letters to the Editor", "/page/letters"
    = link_to "Print Edition", "http://issuu.com/dukechronicle/docs"
