.advertisement.leaderboard-row
  .custom_ad= advertisement :custom
  .leaderboard= advertisement @leaderboard_id || :leaderboard

#super-header
  %time.date{data: {format: 'dddd, mmmm dS, yyyy'}}
  .icons
    %a.icons-facebook{href: "http://www.facebook.com/dukechronicle"}
    %a.icons-twitter{href: "http://twitter.com/dukechronicle"}
    %a.icons-youtube{href: "http://youtube.com/user/DukeChronicle"}
    %a.icons-currents{href: "https://www.google.com/producer/editions/CAow2Z66Ag/duke_chronicle"}
    %a.icons-rss{href: rss_articles_url(subdomain: :rss)}
  .advertising-links.right
    = link_to "Daily Newsletter", "/newsletter"
    = link_to "Print Edition", "http://issuu.com/dukechronicle/docs"
    = link_to "Advertising", "/pages/advertising"
    = link_to "Classifieds", "http://dukechronicle.campusave.com"
    = link_to "Housing", "http://www.nearduke.com/housing"
    = link_to "Dining", "http://www.nearduke.com/dining"
    - if user_signed_in?
      = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign In", new_user_session_path

%header{id: (frontpage? ? 'header-frontpage' : 'header')}
  #header-top
    #home-link
      %a{href: site_root_path}
        - if frontpage?
          = image_tag 'chapel.svg', id: 'header-overlay'
          %h3.tagline The Independent Daily at Duke University
        %h1.brand The Chronicle
    %nav#nav
      - Taxonomy.top_level(:sections)[0...-1].each do |taxonomy|
        %a{href: section_path(taxonomy), class: ("active" if @taxonomy && @taxonomy <= taxonomy)}
          %h2= taxonomy.name
        - if taxonomy.name.eql?('Sports')
          %a{href: '/pages/coachk1k', class: 'coachk'}
            %h2 Coach K 1K
      %a{href: site_blogs_path, class: ("active" if @taxonomy.try(:taxonomy) == :blogs)}
        %h2 Blogs
      %a{href: "http://shutter.dukechronicle.com/", class: ("active" if @galleries || @gallery)}
        %h2 Photos
    = form_for(Search.new, url: site_search_path, method: :get, html: {id: 'search-box'}) do |f|
      = f.search_field :query, placeholder: 'Search archives', results: '5'

  - if not frontpage?
    #subheader
      .pagetitle
        - if content_for?(:title_block)
          = yield :title_block
        - else
          %h1= yield :title
