.advertisement.leaderboard-row
  .custom_ad= advertisement :custom
  .leaderboard= advertisement :leaderboard

#super-header
  %span.date.local-time.left(data-format='dddd, mmmm dS, yyyy')
  .icons.left
    %a{href: "http://www.facebook.com/dukechronicle"}
      = image_tag "icons/facebook.png"
    %a{href: "http://twitter.com/dukechronicle"}
      = image_tag "icons/twitter.png"
    %a{href: "http://youtube.com/user/DukeChronicle"}
      = image_tag "icons/youtube.png"
    %a{href: "/rss"}
      = image_tag "icons/rss.png"
  .advertising-links.right
    = link_to "Print Subscription", "/page/subscribe"
    = link_to "Advertising", "/page/advertising"
    = link_to "Classifieds", "http://dukechronicle.campusave.com"
    = link_to "Housing", "http://chroniclehousing.com"

%header{id: (frontpage? ? 'header-frontpage' : 'header')}
  #header-top
    #home-link
      %a{href: site_root_path}
        - if frontpage?
          = image_tag 'chapel.svg', id: 'header-overlay'
          %h3.tagline The Independent Daily at Duke University
        %h1.brand The Chronicle
    %nav#nav
      - Taxonomy.main_sections.each do |taxonomy|
        %a{href: "/section#{taxonomy.to_s}", class: ("active" if @taxonomy && @taxonomy <= taxonomy)}
          %h2= taxonomy.name
      %a{href: "http://chronicleblogs.com"}
        %h2 Blogs
      %a{href: "http://shutter.dukechronicle.com"}
        %h2 Photos
    = form_for(Article::Search.new, url: site_search_path, method: :get, html: {id: 'search-box'}) do |f|
      = f.search_field :query, placeholder: 'Search archives', results: '5'

  - if not frontpage?
    #subheader
      .pagetitle
        - if content_for?(:title_block)
          = yield :title_block
        - else
          %h1= yield :title
