.advertisement.leaderboard-row
  .custom_ad= advertisement :custom
  .leaderboard= advertisement :leaderboard

#super-header
  %span.date.local-time.left(data-format='dddd, mmmm dS, yyyy')
  .icons
    %a.icons-facebook{href: "http://www.facebook.com/dukechronicle"}
    %a.icons-twitter{href: "http://twitter.com/dukechronicle"}
    %a.icons-youtube{href: "http://youtube.com/user/DukeChronicle"}
    %a.icons-currents{href: "https://www.google.com/producer/editions/CAow2Z66Ag/duke_chronicle"}
    %a.icons-rss{href: rss_articles_url(subdomain: :rss)}
  .advertising-links.right
    = link_to "Print Subscription", "/pages/subscribe"
    = link_to "Advertising", "/pages/advertising"
    = link_to "Classifieds", "http://dukechronicle.campusave.com"
    = link_to "Housing", "http://chroniclehousing.com"

%header{id: (frontpage? ? 'header-frontpage' : 'header')}
  #header-top
    #home-link
      %a{href: site_root_path}
        - if frontpage?
          = image_tag 'chapel.svg', id: 'header-overlay'
          %h3.tagline The Independent Daily at Duke University
        %h1.brand The Chronicle
    %nav#nav
      - Taxonomy.main_sections.each do |taxonomy|
        %a{href: section_path(taxonomy), class: ("active" if @taxonomy && @taxonomy <= taxonomy)}
          %h2= taxonomy.name
      %a{href: "http://chronicleblogs.com"}
        %h2 Blogs
      %a{href: "http://shutter.dukechronicle.com"}
        %h2 Photos
    = form_for(Article::Search.new, url: site_search_path, method: :get, html: {id: 'search-box'}) do |f|
      = f.search_field :query, placeholder: 'Search archives', results: '5'

  - if not frontpage?
    #subheader
      .pagetitle
        - if content_for?(:title_block)
          = yield :title_block
        - else
          %h1= yield :title
