.advertisement.leaderboard-row
  .custom-ad= advertisement :custom
  .leaderboard= advertisement :leaderboard

#super-header.clearfix
  %span.date.local-time.left(data-format='dddd, mmmm d, yyyy')
  .icons.left
    %a{href: "http://www.facebook.com/dukechronicle"}
      = image_tag "icons/facebook.png"
    %a{href: "http://twitter.com/dukechronicle"}
      = image_tag "icons/twitter.png"
    %a{href: "http://youtube.com/user/DukeChronicle"}
      = image_tag "icons/youtube.png"
    %a{href: "/rss"}
      = image_tag "icons/rss.png"
  .advertising-links.right
    = link_to "Print Subscription", "/page/subscribe"
    = link_to "Advertising", "/page/advertising"
    = link_to "Classifieds", "http://dukechronicle.campusave.com"
    = link_to "Housing", "http://chroniclehousing.com"
