- content_for :title_block do
  = render 'site/partials/gallery_navigation', gallery: @gallery

.span-8
  .rounded
    %article.article-container
      .article-body
        / TODO: Later add styling and include - Thanh-ha said ingore 
        / != @gallery.description
        .outer
          .title-area
            %h2#title= @gallery.name
        .gallery
          - @gallery.get_gallery_images.each do |image|
            %img{:src => image.url, :data => { :description => image_info(image), :link => image.photoshelter_url}}
        #imageinfo.photo-caption
          .social
            .byline.photo-credit
              - if @gallery.credit
                %span.author#cred By #{photag_byline(@gallery)}
            .share-box
              .buy
                .camera-link
                  %i.icons-camera
                .buy-link
                  %a.buy Buy Photograph
        .gal-share
          .share-box
            .share.face= facebook_recommend(site_gallery_url(@gallery))
            .share.twit= twitter_share(site_gallery_url(@gallery))
            .share.gplus= google_plusone(site_gallery_url(@gallery))
            .buy
              .camera-link
                %i.icons-camera
              .buy-link
                %a.buy Buy Photograph
  .span-8
    .rounded.clearfix
      %h2.vertical-label Most Recent
      #galleryContainer.js-masonry
        - @recent.reject(&:empty?).each do |gallery|
          .small-gallery
            = render partial: 'site/partials/small-photoshelter-slideshow', locals: {gallery: gallery, width: 204}

.span-4.last
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
  = render partial: 'site/partials/twitter-timeline', locals: {widget_id: 413760724477804544}
