- content_for :title_block do
  = render 'site/partials/gallery_navigation', gallery: @gallery

.span-8
  .rounded
    %article.article-container
      .article-body
        != @gallery.description
        %br
        %br
        .gallery
          - @gallery.get_gallery_images.each do |image|
            %img{:src => image.url, :data => { :description => image.caption, :link => image.photoshelter_url}}
        %p.buy-link
          %a.buy Buy Photograph
        %p.byline.photo-credit
          - if @gallery.credit
            %span.author By #{photag_byline(@gallery)}
        #imageinfo
.span-4.last
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}

.span-8
  .rounded.clearfix
    %h2.vertical-label Most Recent
    #galleryContainer.js-masonry{ data: {masonry: {options: '{ "itemSelector": ".small-gallery","gutter" : 2 }'}}}
      - @recent.reject(&:empty?).each do |gallery|
        .small-gallery
          = render partial: 'site/partials/small-photoshelter-slideshow', locals: {gallery: gallery, width: 204}

