%h1
  %a{href: site_article_url(article, subdomain: 'www', host: Settings.domain)}= article.title

%p.byline
  %span.author By #{article.authors.map(&:name).join(', ')}
  %span.sep= "|"
  %span.date= article.published_at.strftime("%B %e, %Y")

- if article.image
  %img{src: article.image.original.url(:thumb_rect_l), width: 276, height: 165, alt: "Chronicle Image", style: 'display:block;'}

%p= article.teaser

%p
  %a{href: site_article_url(article, subdomain: 'www', host: Settings.domain)}
    Visit #{Settings.domain} for the full article.
