- provide :title, @topic.title
%h3= @topic.description

%btn.pull-left= link_to "All Topics", site_topics_path

%h3= 'Contribute to the conversation'
= simple_form_for([:site, @topic, @topic.responses.build], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}}) do |f|
	%legend= yield :form_title
	= f.error_notification
	.form-inputs
		= f.input :content
	.form-actions
		= f.button :submit, class: 'btn btn-large btn-primary'

- content_for :scripts do
	= tinymce_assets

= will_paginate @responses

- @responses.each do |r|
	- unless r.content.nil?
		%h6= r.content + ' | ' + r.created_at.strftime("%H:%M:%S %m/%d") + ' | up:' + r.upvotes.to_s + ' | down:' + r.downvotes.to_s
		%btn.pull-left= link_to "Up", upvote_site_topic_response_path(@topic, r), method: :upvote
		%btn.pull-left= link_to "Down", downvote_site_topic_response_path(@topic, r), method: :downvote
		%br
		%br

