%h1 Edit Image
= image_tag @image.original.url, id: 'crop-target'
= form_for [:crop, :admin, @image], class: 'form-inline' do |f|
  = f.hidden_field :crop_x
  = f.hidden_field :crop_y
  = f.hidden_field :crop_w
  = f.hidden_field :crop_h
  = f.select :crop_style, Image::Styles.map {|type, info| [type, type, 'data-dimensions' => info.to_json]}
  = f.submit 'Crop Version', class: 'btn'
  %i.icon-question-sign.image-help

= simple_form_for [:admin, @image], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}} do |f|
  %legend Photo Information
  = f.error_notification
  .form-inputs
    = f.input :caption
    = f.input :location
    = f.association :photographer, value_method: :name, as: :string, input_html: {class: 'photographer-picker input-xlarge'}
    = f.input :created_at, as: :date, native: browser.chrome?, label: 'Date'
  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
    = link_to "Delete Image", [:admin, @image], method: :delete, confirm: "Are you sure?", class: 'btn btn-large btn-danger'

%table.table.table-striped#styles
  %tr
    %th Type
    %th Image Version
  - Image.styles.keys.each do |style|
    %tr
      %td= style.to_s.camelcase
      %td= image_tag @image.original.url(style)
