%h1 Edit Image
= image_tag @image.original.url, id: 'crop-target'
= simple_form_for [:admin, @image], html: {class: 'form-inline'}, defaults: {input_html: {class: 'input-xlarge'}} do |f|
  = f.input :crop_x, as: :hidden
  = f.input :crop_y, as: :hidden
  = f.input :crop_w, as: :hidden
  = f.input :crop_h, as: :hidden
  = f.submit 'New Version', class: 'btn'

= simple_form_for [:admin, @image], html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'input-xlarge'}} do |f|
  %legend Photo Information
  = f.error_notification
  .form-inputs
    = f.input :caption
    = f.input :location
    = f.input :created_at, as: :date, native: browser.chrome?, label: 'Date'
  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
    = link_to "Delete Image", [:admin, @image], method: :delete, confirm: "Are you sure?", class: 'btn btn-large btn-danger'
