- provide :title, @page.title

.clearfix
  .span-6
    #featured= render partial: 'site/containers/block/featured', locals: {article: @model['featured']}
    - @model['headlines'].each do |article|
      = render partial: 'site/containers/block/horizontal', locals: {article: article}

  .span-6.last
    .clearfix
      #popular.title-small.span-2= render partial: 'site/containers/article-list/numbered', locals: {title: 'Popular', articles: @model['popular']}
      .span-4.last= render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}

    #headlines.span-3.title-medium= render partial: 'site/containers/article-list', locals: {title: 'Headlines', articles: @model['right_headlines'], style: :featured}
