.clearfix.align-group
  .span-6.align-element{data: {aligntarget: '.rounded'}}
    .rounded
      .content-container
        %h2 Join the Chronicle
        != @model.pitch
  .span-6.last.align-element{data: {aligntarget: '.rounded'}}
    %h2.vertical-label Schedule
    .rounded
      .article-container!= @model.schedule

.clearfix
  .span-8
    .span-4
      - @model.departments.each_with_index do |department, i|
        - if i.even?
          .rounded
            .content-container
              %h3= department['name']
              != department['description']
    .span-4.last
      - @model.departments.each_with_index do |department, i|
        - if i.odd?
          .rounded
            .content-container
              %h3= department['name']
              != department['description']
  .span-4.last
    .rounded
      .content-container!= @model.form_embed
