- content_for :title_block do
  = render 'site/partials/navigation'

.span-8
  #featured= render partial: 'site/containers/featured-selectable', locals: {posts: @model.featured_stories}
  = render partial: 'site/containers/article-list', locals: {articles: @model.stories, title: "Recent", style: :teaser}
  .clearfix
    .span-4
      .rounded
        %a{href: "https://twitter.com/#{@model.twitter}"}
          .image-container
            = image_tag 'social-media/twitter.png'
    .span-4.last
      .rounded
        %a{href: "https://www.facebook.com/#{@model.facebook}"}
          .image-container
            = image_tag 'social-media/facebook.png'

.span-4.last
  = render partial: 'site/partials/sports-event-info', locals: {title: 'Game Details', info: @model.information, game_info: ESPN.new.game_information(@model.information['espn_url'])}
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
  = render partial: 'site/containers/sports-standings', locals: {url: @model.standings_url}
  - @model.twitter_widgets.each do |widget_id|
    = render partial: 'site/partials/twitter-timeline', locals: {widget_id: widget_id}
