%h1 #{@user.first_name} #{@user.last_name}
%p
  %strong Email
  \: #{@user.email}
%p
  %strong Role
  \: #{@user.role}
%p
  %strong Member since
  \: #{datetime_tag(@user.created_at, 'mmmm d, yyyy')}
