- if @search.query.present?
  - provide :title, "Search: #{@search.query}"
  - content_for :title_block do
    %h1
      = "Results for "
      %strong= @search.query
- else
  - provide :title, "Search"
  - content_for :title_block do
    %h1 Search the Archives

.span-8
  - if @search.query.blank?
    .error
      %h3 Please enter a query
  - elsif @results.blank?
    .error
      %h3 No results found
  - else
    - @results.each do |result|
      = render partial: 'beta/searches/result', locals: {result: result}
    = will_paginate @results

.span-4.last
  = render partial: 'beta/partials/search', locals: {search: @search}
  = render partial: 'beta/partials/advertisement', locals: {zone: :medium_rectangle}
