- provide :title, @taxonomy.to_a.join(', ')

- if not @taxonomy.root?
  - content_for :title_block do
    = render partial: 'mobile/partials/section-navigation', locals: {taxonomy: @taxonomy}

#section-listing{data: {role: "collapsible-set", 'collapsed-icon' => "arrow-r", 'expanded-icon' => "arrow-d"}}
  %div{data: {role: "collapsible", theme: "a", 'content-theme' => "c", collapsed: "false", initialized: "true"}}
    %h3= @taxonomy.name || "Top Headlines"
    %ul{data: {role: "listview"}}
      - @articles.each do |article|
        %li
          %a{href: mobile_article_path(article)}
            - if article.image
              = image_tag article.image.original.url(:thumb_square_s)
            %h2= article.title
            %p #{byline(article)} | #{article.created_at.strftime("%B %e, %Y")}
  - @taxonomy.children.each do |child|
    %div{data: {role: "collapsible", theme: "a", 'content-theme' => "c", collapsed: "true"}}
      %h3= child.name
      %ul{data: {role: "listview"}}
        %li
          %a{href: "/section#{child.to_s}"}
            More
            %em= child.to_a.join(', ')
            Articles
