- provide :title, @article.title

- content_for :title_block do
  = render partial: 'mobile/partials/section-navigation', locals: {taxonomy: @article.section}

- content_for :twitter_card do
  = render partial: 'partials/twitter_cards/article', locals: {article: @article}

- content_for :open_graph_tags do
  = render partial: 'partials/open-graph/article', locals: {article: @article}


%article#article
  .article-container
    %h1.title= @article.title
    %h2.subtitle= @article.subtitle

    - if @article.image
      .image-container
        = image_tag @article.image.original.url(:large_rect), class: 'main-image'
        .clearfix
          .photo-credit
            %span= photo_credit(@article.image)
          - if not @article.image.caption.blank?
            %p.photo-caption= @article.image.caption

    %p.byline
      %span.author By #{byline(@article)}
      %span.sep= "|"
      %span.date= @article.created_at.strftime("%B %e, %Y")

    #social-media
      .fb-like{data: {href: permanent_article_url(@article), send: "false", layout: "button_count", width: "130", 'show-faces' => "false", font: "lucida grande", action: "recommend"}}
      .g-plusone{data: {size: "medium", annotation: "bubble", href: permanent_article_url(@article)}}
      %a.twitter-share-button{href: "https://twitter.com/share", data: {via: "dukechronicle", url: permanent_article_url(@article)}} Tweet

    .article-body!= @article.render_body

    %a{href: "/", data: {direction: "reverse", role: "button", rel: "back", icon: "back"}} Back

    #disqus_thread.rounded{data: {disqus: disqus_options(@article)}}
