%ul.nav.nav-pills
  - Blog.all.each do |blog|
    %li{class: ('active' if not @blog.nil? and @blog.id == blog.id)}
      = link_to blog.name, admin_blog_posts_path(blog)

- if not @blog.nil?
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Publication Date
        %th Actions
    - @blog_posts.each do |blog_post|
      %tr{id: "blog_post_#{blog_post.id}"}
        %td= link_to blog_post.title, site_blog_post_url(@blog, blog_post, subdomain: :www)
        - if blog_post.published_at
          %td= blog_post.published_at.strftime('%-m-%-d-%Y')
        - else
          %td Not scheduled
        %td
          = link_to "Edit", edit_admin_blog_post_path(@blog, blog_post), class: 'btn btn-mini'

  = will_paginate
