= form_for ArticleNewsletter.new, url: admin_newsletter_path, html: {class: 'form-horizontal'} do |f|
  %legend Newsletter
  .form-inputs
    .control-group
      %label.control-label{for: 'newsletter_article'} Newsletter Type
      .controls
        %span.help-block= link_to "Daily (click to layout)", edit_admin_page_path(@newsletter_page)
        %span Breaking News Alert
        %input.input-enabler{type: 'checkbox'}
        = f.text_field :article, disabled: true, class: 'input-xlarge', class: 'input-xlarge article-picker'
    .control-group
      %label.control-label{for: 'newsletter_test_email'} Test email
      .controls
        %input.input-enabler{type: 'checkbox'}
        = f.text_field :test_email, disabled: true, class: 'input-xlarge'
    .control-group
      %label.control-label{for: 'newsletter_scheduled_time'} Schedule
      .controls
        %input.input-enabler{type: 'checkbox'}
        = f.time_select :scheduled_time, {ampm: true, disabled: true, default: ActiveSupport::TimeZone[@timezone].now + 5.minutes}, class: 'input-small'
        = time_zone_select :newsletter, :scheduled_timezone, ActiveSupport::TimeZone.us_zones, {default: @timezone}, disabled: true, class: 'input-xxlarge'
        %span.help-block If this is active, the newsletter will be sent at this time. Otherwise, it will be sent immediately.
  .form-actions
    = f.submit 'Send', class: 'btn btn-large btn-primary'
