!!! 5
%html
  %head
    %title The Chronicle
    = stylesheet_link_tag "admin", :media => "all"
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = render 'admin/partials/header'
    .container
      = render 'admin/partials/flash', flash: flash
      = yield
    #scripts
      = javascript_include_tag "admin"
