!!! 5
%html
  %head
    %title #{yield :title} | The Chronicle
    %script{type: "text/javascript", src: "http://use.typekit.com/dwv2bjy.js"}
    :javascript
      try{Typekit.load()}catch(e){}
    = stylesheet_link_tag "site", :media => "all"
    /[if lt IE 9]
      %script{type: "text/javascript", src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
      = stylesheet_link_tag "ie", :media => "all"

    = render 'site/partials/openx'
    = csrf_meta_tags
  %body
    #fb-root
    .container
      = render 'site/partials/header'
      %section#content.clearfix= yield
      = render 'site/partials/footer'
    #scripts
      = javascript_include_tag "site"
